@font-face {
    font-family: Roboto;
    src: url("../../../../../usr/share/fonts/truetype/roboto/unhinted/RobotoTTF/Roboto-Regular.ttf");
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}

.invisible-grid {
    background-color: black;
}

.default-grid {
    display: flex;
    margin: 1px;
}
